@import '../../../styles/mixins';

:host {
   display: flex;
   justify-content: space-between;
   gap: 15px;
   align-items: center;
   height: 125px;
   padding: 10px;
   border: 1px solid #fff;
   border-radius: 10px;

   .location-wr {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 24px;
   }

   .button-wr {
      width: 170px;
      align-self: flex-end;
      text-align: center;

      button {
         @include button;
         margin-bottom: 10px;
      }

      .error-msg {
         font-style: italic;
      }

   }
}

@media screen and (max-width:699px) {
   :host {
      flex-direction: column;
      text-align: center;
      height: 200px;

      .button-wr {
         align-self: center;
      }
   }
}