@import '../styles/mixins';

:host {
   max-width: 95%;
   position: relative;

   .container {
      display: flex;
      gap: 20px;
      padding: 10px 0;
      justify-content: center;

      .app-container {
         flex: 1 1 70%;
      }

      &.active {
         display: none;
      }

      .forecast {
         height: 90%;
      }
   }
}

@media screen and (max-width:1099px) {
   .container {
      flex-direction: column;
      align-items: center;

      .app-container {
         flex: 1 1 100%;
         width: 100%;
      }
   }
}